<ion-view view-title="Add Expense">
    <ion-content class="padding">
        <div class="list list-inset">
            <label class="item item-input">
                <select ng-model="expense.type" ng-options="item for item in expenseTypes">
                    <option value="">Select one expense</option>
                </select>
            </label>
            <label class="item item-input">
                <input type="text" ng-model="expense.title" name="expTitle" class="item item-input-inset" placeholder="enter your expense details" />
            </label>
            <label class="item item-input">
                <input type="number" ng-model="expense.amount" name="expAmount" class="item item-input-inset" placeholder="enter your expense amount" />
            </label>
            <label class="item item-input">
                <input type="date" ng-model="expense.transactionDate" name="expAmount" class="item item-input-inset" placeholder="enter the transaction date." />
            </label>

            <div ng-show="{{settings.enableLocation}}">

                <label class="item item-input">{{lat}}, {{lng}}</label>
                <label class="item item-body">
                    <ion-toggle ng-model="settings.showMap" toggle-class="toggle-calm">Show map</ion-toggle>
                </label>
                <p>
                    <map ng-class="settings.showMap ? 'mapshow' : 'maphide'" on-create="mapCreated(map)"></map>
                </p>
            </div>
            
        </div>

    </ion-content>

    <ion-nav-buttons side="right">
        <button class="button" ng-click="save();">Save</button>
    </ion-nav-buttons>

</ion-view>
